/*.soundwave {
  background-image: url('waveimage.jpg');
  background-image: 
}*/

h1, h2, h3 {
  font-family: 'Bree Serif', serif; 
}



body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: white;
  padding-left: 5%;
  padding-bottom: 5%;
}

.navbar-default {
  background-color: #000000;
}

.musicians-box {
  float: left;
  width: 290px;
  height: 350px;
  margin-left: 25%;
  margin-top: 10%;
}

.chatroom-box {

  display: inline-block;
  height: 350px;
  width: 720px;
  margin-left: 7%;
  margin-top: 10%;
}

input, button, select, textarea {
  line-height: 3;
}
   
#info {
  margin: 15%; 
} 

  
